Django==5.1.5
django-crispy-forms
django-filter
django-import-export
djangorestframework
Pillow==9.5.0
psycopg2-binary==2.9.9
pytesseract
cryptography
playwright
pytest
pandas
requests
python-dateutil
pytz
sqlparse
six
urllib3
